@import "tailwindcss";

:root {
  /* Backgrounds */
  --bg-main: #fefcf9;
  --bg-secondary: #ffffff;

  /* Borders */
  --border-light: #d8e5ee;

  /* Accent */
  --accent-primary: #5b9ec4;

  /* Text */
  --text-main: #19384d;
  --text-secondary: #587080;
  --text-muted: #8799a5;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Genos";
  src: url("./assets/fonts/genos.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Biscotti";
  src: url("./assets/fonts/biscotti.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: url("./assets/fonts/Saira.ttf") format("truetype");
  font-display: swap;
}

.font-heading {
  font-family: "genos", sans-serif;
}

.font-accent {
  font-family: "Biscotti", sans-serif;
}

* {
  font-family: "Saira", sans-serif;
}
